@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0a0a0a;
  --dark-gray: #212529;
  --gray: #393d3f;
  --light-gray: #666666;
  --white: #fdfdff;
  --red: #780000;
  --light-red: #c1121f;
  --blue: #003049;
  --light-blue: #669bbc;
}

body {
  color: var(--white);
  background: var(--dark-gray);
  font-family: var(--font-open-sans), sans-serif;
}

/* Reset styles for tiptap elements */
.tiptap * {
  all: revert;
}

.tiptap:focus {
  outline: none;
}

.tiptap-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--white);
  text-decoration-thickness: 2px;
}

.tiptap h1 {
  @apply text-3xl font-bold;
}

.tiptap h2 {
  @apply text-2xl font-semibold;
}

.tiptap h3 {
  @apply text-xl font-medium;
}

.tiptap a {
  @apply text-blue-500 underline;
}

.tiptap a:hover,
.tiptap a:focus {
  @apply text-blue-400;
}

.tiptap a:visited:not(:hover):not(:focus) {
  @apply text-blue-600;
}

.tiptap p {
  @apply text-base;
}

.tiptap ul {
  @apply list-decimal;
}

.tiptap ul {
  @apply list-disc;
}

.tiptap li {
  @apply list-item text-base;
}

.tiptap pre {
  @apply bg-gray-800 p-4 rounded overflow-scroll;
}

.tiptap code {
  @apply bg-gray-700 p-1 rounded;
}

.tiptap blockquote {
  @apply border-solid border-l-4 border-0 border-gray-300 pl-8;
}
